/* css index

0. Declaration

1. Navbar

2. Banner Section
 2.1 Banner info
 2.2 Banner buttons
 2.3 Banner quote
 2.4 User details
 2.5 Banner image

3. Feature Section
 3.1 Feature details
 3.2 Feature card 
 
4. Benifit Section
 4.1 Image
 4.2 Benifit list

5. Audience Section
 5.1 Audience details
 5.2 Audience list 

6. Form Section 

*/

/* Fonts

font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/*            0. Declaration               */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h5 {
  font-family: "Quicksand", sans-serif;
  color: #1c1e2e;
}

a,
p,
span,
button,
input,
li {
  font-family: "Roboto", sans-serif;
  color: #4c527d;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/*            1. Navbar            */

.navbar {
  width: 100%;
  padding: 16px 15px;
}

.navbar span {
  padding: 0 0 0 8px;
  font-weight: 800;
  font-size: 24px;
  color: #1c1e2e;
  vertical-align: middle;
}

.navbar img {
  vertical-align: middle;
}

/*          2. Banner Section            */

.bannersection {
  padding-bottom: 50px;
  margin-bottom: 640px;
}

/* 2.1 Banner info */

.bannersection .bannerinfo {
  width: 680px;
  float: left;
}

.bannersection .bannerinfo {
  padding-top: 48px;
  margin-bottom: 48px;
}

.bannerinfo h1 {
  width: 75%;
  font-size: 40px;
  padding-bottom: 16px;
}

.bannerinfo p {
  font-size: 20px;
  width: 88%;
  display: block;
  line-height: 1.5;
  margin-bottom: 35px;
}

.bannerinfo hr {
  width: 8%;
  margin: 20px auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 10px dotted #a5a8be;
  cursor: pointer;
}

/*      2.2 Banner buttons     */

.bannerinfo .btn {
  margin-bottom: 60px;
}

.bannerinfo .buybtn {
  font-weight: 600;
  text-decoration: none;
  background-color: #ed6524;
  color: #fff;
  margin-right: 8px;
  padding: 14px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.bannerinfo .learnbtn {
  font-weight: 600;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #ed6524;
  color: #ed6524;
  padding: 14px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.bannerinfo .learnbtn:hover {
  background-color: #ed6524;
  color: #fff;
}

/* 2.3 Banner quote */

.quotebox {
  position: relative;
  width: 550px;
  padding: 24px;
  background-color: #f6f8fc;
  border-left: 4px solid #f5a782;
  font-style: italic;
}

.quotebox p {
  width: 100%;
  margin: 0;
  font-size: 16px;
}

.smallbox {
  position: absolute;
  background-color: #f6f8fc;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* 2.4 User details */

.userdetails {
  margin-top: 16px;
}

.userdetails img {
  vertical-align: middle;
  width: 60px;
  margin-right: 16px;
}

.userdetails .info {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.userdetails .info p {
  margin: 0;
  color: #6f75a7;
  font-size: 14px;
}

/* 2.5 Banner image */

.bannersection .bannerimg {
  width: 445px;
  float: right;
  position: relative;
}

.bannerimg img {
  width: 445px;
}

.bannerimg a {
  display: block;
  text-align: right;
  padding-right: 165px;
  color: #1c1e2e;
}

.bannerimg a:hover {
  color: #ed6524;
}

.newrelease {
  width: 120px;
  height: 120px;
  background-color: #5cb377;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  right: 5px;
  top: -35px;
  box-shadow: 2px 8px 20px #00000026;
}

.newrelease p {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding-top: 35px;
  line-height: 1;
}

/*       3. Feature Section       */

/* 3.1 Feature details */

.featuresection {
  width: 100%;
  padding: 96px 15px;
  display: flow-root;
  background: rgb(246, 248, 252);
  background: linear-gradient(
    180deg,
    rgba(246, 248, 252, 1) 20%,
    rgba(255, 255, 255, 1) 70%
  );
}

.featuredetails {
  text-align: center;
}

.featuredetails h1 {
  margin-bottom: 16px;
  font-size: 40px;
}

.featuredetails p {
  font-size: 20px;
  width: 65%;
  display: inline-block;
  margin-bottom: 48px;
  line-height: 1.5;
}

/* 3.2 Feature card */

.featurecard .card {
  display: inline-block;
  width: 30%;
  padding: 25px 15px;
  text-align: center;
  vertical-align: top;
}

.featurecard h2 {
  font-size: 18px;
  width: 80%;
  margin: 8px auto;
}

.featurecard p {
  font-size: 16px;
  text-align: center;
  color: #4c527d;
  width: 90%;
  line-height: 1.5;
  font-weight: 500;
  margin: 15px;
}

.card i {
  color: #ed6524;
}

/*        4. Benifit Section             */

.beifitsection {
  text-align: center;
  margin-bottom: 80px;
}

.beifitsection h2 {
  font-size: 40px;
  margin-bottom: 48px;
}

/* 4.1 Image */

.benifitdesc img {
  width: 365px;
  margin-left: 115px;
}

/* 4.2 Benifit list */

.benifitdesc .benifitlist {
  width: 365px;
  float: right;
  margin-right: 140px;
}

.benifitlist ul {
  list-style: none;
  text-align: left;
}

.benifitlist ul li {
  font-size: 18px;
  margin-bottom: 20px;
}

.benifitlist ul i {
  color: #7fcdb8;
}

/* Button */

.iwtbbtn {
  display: block;
  width: 115px;
  font-weight: 600;
  text-decoration: none;
  background-color: #ed6524;
  color: #fff;
  margin-top: 50px;
  margin-left: 20px;
  padding: 14px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/*      5. Audience section        */

/* 5.1 Audiance details */

.audiencesection {
  text-align: center;
  margin-bottom: 50px;
}

.audiencesection h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.audiencesection p {
  font-size: 20px;
  margin: 0 190px 48px;
  line-height: 1.5;
}

/* 5.2 Audience list */

.audiencebox .insidedetails {
  font-size: 16px;
  margin: 0;
}

.audiencebox h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.audiencebox i {
  font-size: 25px;
  color: #7fcdb8;
  position: absolute;
  left: -47px;
  top: 9px;
}

.audiencebox {
  display: block;
  width: 440px;
  margin: 0 auto 24px;
  text-align: left;
  position: relative;
}

/* 6. Form section */

.formsection {
  text-align: center;
}

.form {
  width: 745px;
  margin: 0 auto;
  padding: 48px;
  background-color: #f6f8fc;
}

.form h2 {
  margin-bottom: 8px;
}

.form p {
  line-height: 1.5;
  margin-bottom: 16px;
}

.form input {
  width: 380px;
  border: 1px solid #e3e9f6;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
}

.form input:focus {
  transition: all 0.15s ease;
  outline-color: #ed6524;
  outline-style: solid;
  outline-width: 1px;
  box-shadow: 10px 8px 10px #00000026;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
}

.form button {
  font-size: 16px;
  font-weight: 600;
  padding: 14px 24px;
  background-color: #ed6524;
  color: #fff;
  border: 0;
  margin-left: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.reviewsection {
  text-align: center;
  justify-content: space-between;
}

.reviewdesc {
  margin: 0 175px 48px;
  font-size: 20px;
}

.reviewsection h2 {
  margin-top: 48px;
  margin-bottom: 8px;
  font-size: 40px;
}

.reviewcard {
  display: inline-block;
  width: 288px;
  background-color: #f6f8fc;
  color: #4c527d;
  margin: 10px 10px 24px 10px;
  text-align: left;
  padding: 24px;
  position: relative;
}

.reviewcard .userdetails {
  margin-top: 0;
}

.reviewcard .reviewcontent p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
}

.quoteicon {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  color: #fff;
  background-color: #f5a782;
}

.quoteicon {
  position: absolute;
  top: -20px;
  left: 160px;
  text-align: center;
}

.quoteicon i {
  font-size: 16px;
  padding-top: 12px;
}

.reviewsection .iwtbbtn {
  display: block;
  width: 160px;
  font-weight: 600;
  text-decoration: none;
  background-color: #ed6524;
  color: #fff;
  margin: 20px auto;
  padding: 14px 40px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.reviewsection {
  margin-bottom: 30px;
}

/* About section */

.aboutsection {
  background-color: #ed6524;
  padding: 48px 0;
  text-align: center;
  color: #fff;
}

.aboutsection img {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.aboutsection h2 {
  font-size: 40px;
  margin-bottom: 16px;
  color: #fff;
}

.aboutsection h3 {
  color: #fff;
  margin-bottom: 24px;
}

.aboutsection p {
  color: #fff;
  width: 67%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
  line-height: 1.5;
}

.socialbox {
  width: 36px;
  height: 36px;
  background-color: #c9561e;
  color: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.socialbox {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.socialbox i {
  padding-top: 12px;
}
